/* Header Styles*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;

    background-color: rgb(210, 112, 0, 85%); 

    border-bottom: 2px solid black;
}
header h1{
    color: white;
    font-size: 50px;
}
header h2{
    color: rgb(0, 80, 199);
    font-size: 30px;

    transition: transform 0.1s ease-in-out;
}
header h2:hover{
    transform: scale(1.1);
}
header h2:active{
    color: white;
}
#logo{
    height: 100px;
    width: 100px;

    transition: transform 0.1s ease-in-out;
}
#logo:hover{
    transform: scale(1.2);
}

/*Body Styles*/
body{
    background-image: url("../images/home-background.png");
    background-size: cover;                   
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.main{
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.main h1{
    font-size: 80px;
    font-weight: bold;
}
#ul-h1{
    color: rgb(0, 80, 199);
    font-size: 70px;
    margin-left: 225px;
}
.main ul{
    margin-left: 300px;
}
.main ul li{
    margin-left: 75px;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

/*Body Left Side*/
#left-side{
    height: 100%;
    width: 25%;

    padding-left: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#aboutB{
    height: 70px;
    width: 225px;

    border: 1px solid black;
    border-radius: 25px;
    
    background-color: rgb(122, 122, 122);
    
    color: white;
    font-size: 35px;

    transition: transform 0.1s ease-in-out;
}
#aboutB:hover{
    transform: scale(1.1);
}
#aboutB:active{
    color: rgb(210, 112, 0);
}
#left-side h1{
    color: rgb(0, 80, 199);
    font-size: 80px;
    margin: 0;
}
#contact-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#contact-info div{
    display: flex;
    align-items: center;

    width: 100%;
    margin-left: 15%;
}
#contact-info h2{
    color: white;
    font-size: 40px;
} 
#contact-info a{
    transition: transform 0.1s ease-in-out;
}
#contact-info a:hover{
    transform: scale(1.1);
    color: rgb(0, 80, 199);
}
.icon{
    height: 50px;
    width: 50px;
    margin-right: 5%;
}
#quoteB{
    height: 80px;
    width: 250px;

    border: 1px solid black;
    border-radius: 45px;
    
    background-color: rgb(220, 152, 37);
    
    color: white;
    font-size: 50px;

    transition: transform 0.1s ease-in-out;
}
#quoteB:hover{
    transform: scale(1.1);
}
#quoteB:active{
    color: rgb(13, 255, 0);
}

/*Footer Styles*/
footer{
    display: flex;
    align-items: center;
    padding-left: 2.5%;

    background-color: rgb(63,63,65); 

    border-top: 2px solid black;
}
footer h3{
    color: white;
}